<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>✨</title>
  <link rel="icon" type="image/png" sizes="32x32" href="/static/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/favicon-16x16.png">
  <link rel="stylesheet" href="/static/styles/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Raleway&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
</head>
<body>
  <header>
    <a style="text-decoration: none;" href="/"><div id="title">OnlyFeet</div></a>
    <div id="subtitle">now powered by AI ✨</div>
  </header>

  <main>
    <h1>Welcome to the OnlyFeet SAFE ✨ Project</h1>
    <h2>Goals</h2>
    <ul>
      Keep the platform <i>safe</i> from adult content<sup></sup><br />
      Keep the platform <i>safe</i> from filthy individuals<sup>1</sup><br />
      Keep the platform <i>safe</i> from anything that is considered inappropriate<sup></sup><br />
    </ul>
    <h2>Trivia</h2>
    <p>
        Basically, we came to the conclusion that ultimately everyone's job can be replaced by AI ✨ in the future.
        That's why we eventually stopped searching and hiring Content Security Administrators but decided to develop <b>SAFE AI ✨ (Safety for Average Foot Enjoyers)</b>  instead -
        an automated content filter specifically tailored to our platform needs.
        And because everyone is doing it nowadays, we're doing it with AI! ✨
    </p>
    <h2>Contributing</h2>
    <p>
        We are still in early development. But our AI Engineers told us you can all help the project already by <b>contributing labeled images</b>
        so we can train SAFE AI ✨ on what is appropriate content and what is not. You can use our public API for that.
        <br />
        <br />
        To get started, read the <a href="/static/docs/openapi.yaml" download>OpenAPI Documentation</a>
    </p>
    <blockquote>
      <sup>1</sup> Earlier this year there was an unpleasant incident with our Content Security Administrator. Please accept our apologies and rest assured that we have taken all necessary steps to prevent such incidents in the future.
    </blockquote>
  </main>
</body>
</html>
